@media print{
    @page{
        size: landscape;
    }
    .school h4{
        line-height: 20px!important;
        margin: 0!important;
    }
}

.adjust{
    width: 100%;
}
.school2 p{
    font-weight: 1000;
    margin: 0;
    font-size: 50px;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}

.school{
    text-align: center;
}
.school h4{
    line-height: 5px;
}
.school{
    display: flex;
    flex-direction: row;
     
    /* line-height: 1px;  */
}
.school3 img{
  border-image: round;
  border-radius: 15px;
}
.school{
    position: relative;
    top: 20px;
}
.school1{
    position: relative;
    left: 300px;
}
/* .school{
    padding-left:300px ;
} */
.school3{
    /* padding-top: 100px; */
}
.line table{
    border-collapse: collapse;
}
th{
    background-color: purple;
}
.line2{
    border: 1px solid black;
    width:1000px;
}
.line2{
    position: relative;
    left: 180px;
    bottom: 25px;
}
.line3{
    border: 1px  solid black;
    width:200px;
}
.line3{
    position: relative;
    left: 60px;
    bottom: 25px;
}
.line4{
    border: 1px solid black;
    width:200px;
}
.line4{
    position: relative;
    left: 90px;
    bottom: 25px;
}
.line5{
    border: 1px solid black;
    width:200px;
}
.line5{
    position: relative;
    left: 250px;
    bottom: 25px;
}
.general{
    display: flex;
    flex-direction: row;
}
.general2{
    display: flex;
}
.general{
    border-collapse: collapse;
}
.last2box{
    border: 1px solid black;
    line-height: 30px;
    margin-right: 30px;
}
.last2box2{
    border-bottom: 1px solid black;
    line-height: 30px;
    margin-right: 30px;
}
.last3box{
    border: 1px solid black;
    width: 20px;
    height: 10px;
}
.last4box{
    border: 1px solid black;
    width: 20px;
    height: 10px;
}
.last5box{
    border-bottom: 2px solid black;
    width: 20px;
}
.last{
    display: flex;
}
.last{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.last{
  margin-top: 10px;  
}
.name{
    display: flex;
}
.name3{
    position: relative;
    left: 70px;
}
.name4{
    position: relative;
    left: 170px;
}
.last6{
    line-height: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.last2box{
    border: 1px solid black;
    height: 40px;
    width: 60px;
}
.last{
    display: flex;
    justify-content: center;
    
}
.last2{
    padding-left: 50px;
}
.last2box{
    position: relative;
    left: 5px;
    top: 10px;
}
.last{
    text-align: center;
} 
.last3box{
    position: relative;
    left: 5px;
    top: 8
    5px;
}
.last3box{
    border: 1px solid black;
    height: 40px;
    width: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
}
    
